@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Rubik:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif; 
}
::-webkit-scrollbar {
    width:5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:#DFE3E8; 
  }
  a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width:100%;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.x-mark{
    cursor: pointer;
  }
.error{
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
    color: red;
    display: none;
}
.error-active{
    display: block;
}

.header::after,
.results::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color:#E3E6EB;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}
.list{
    display: flex;
    align-items: center;
}
.list__item-sun{
    margin-right:15px;
}
.log-out{
    font-size: 16px;
    line-height: 18px;
    padding: 10px 23px;
    border-radius: 4px;
    background-color:#0D75FF ;
    color: #fff;
}
.form-search{
    width: 100%;
    max-width: 670px;
}
.form-search__label{
    display: inline-flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    background-color:#F8FAFD;
    border: 1px solid #E3E6EB;
    border-radius: 30px;
    height: 48px;
}
.search-input{
    font-size: 13px;
    margin-left: 15px;
    width: 100%;
    max-width: 600px;
    background: none;
    border: none;
    outline: none;
}
.search-input::placeholder{
    color: rgba(0, 0, 0, 0.24);;
}
.results{
    font-weight: 500;
    font-size:14px;
    line-height: 17px;
    padding-top:10px;
    background-color: #fff;
}
.results__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results__text{
    margin-left:300px;
}
.results__order{
    display: flex;
    align-items: center;
    padding: 5px 13px;
    background-color: #A6B0C3;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.results__order img{
    margin-right: 8px;
}
.results::after{
    margin-top:10px;
}
.main{
    display: flex;
    background-image: linear-gradient(to right,#fff 22%,#F8FAFD 20%);
    height:100%;
}
.main__container{
    display: flex;
}
.main-left{
    width: 100%;
    max-width: 268px;
    padding: 24px;
    background-color: #fff;
}
.main-left__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.main-left__text{
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
}
.main-left__table{
    background-color: #fff;
}
.main-left__table-row{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    padding: 15px 10px;
    background-color: #F8FAFD;
    border-radius: 4px;
}
.main-left__table-row+.main-left__table-row{
    margin-top: 15px;
}
.main-left__table-row,
.main-left__table-icons{
    display: flex;
    align-items: center;
}
.main-left__table-icons{
    margin-left:10px;
}
.main-left__table-icons img{
    cursor: pointer;
}
.book-title{
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
}
.book-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    margin-top: 5px;
    color: #757881;
}
.bookmark-delete{
    margin-left: 5px;
}
.main-right{
    width:80%;
    margin-left:33px;
}

.main-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    height:70vh;
    overflow-y:scroll;
    gap: 20px;
    margin-top:10px;
}
.main-card__item{
    width:280px;
    padding:13px 15px;
    background-color: #fff;
    border-radius: 5px;
}
.main-card__img{
    display: flex;
    justify-content: center;
    padding: 18px 0;
    background-color: #F8FAFD;
    border-radius: 5px;
}
.main-card__img img{
    border-radius: 5px;
}
.main-card__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 19px;
}
.main-card__text,
.main-card__year{
     font-family: 'Noto Sans', sans-serif;
     font-weight: 500;
     font-size: 13px;
     line-height: 17px;
     color: #757881;
     margin-top: 2px;
}
.main-card__btns{
    margin-top: 10px;
}
.main-card__bookmark,
.main-card__info,
.main-card__read{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 22px;
    border-radius: 4px;
    background-color: #FFD80D;
    border: none;
    cursor: pointer;
}
.main-card__info{
    background: rgba(13, 117, 255, 0.05);
    color: #0D75FF;
    margin-left: 6px;
}
.main-card__read{
    display: block;
    background-color: #75828A;
    color: #fff;
    text-align: center;
    margin-top:6px;
}
.prev,
.next{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color:#fff;
    border: 1px solid #DFE3E8;
    border-radius:4px;
    cursor: pointer;
}
.prev--active{
    background-color: #DFE3E8;
}


.more-info__modal,
.more-info__overlay{
    position: fixed;
    width:552px;
    height: 100vh;
    background-color:#fff;
    top: 0;
    right: 0;
    z-index: 2;
    transition: all .4s;
    transform: translateX(100%);
    overflow: auto;
}
.more-info__modal{
    z-index: 5;
}
.more-info__overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.more-info__modal--active,
.more-info__overlay--active{
    transform: translateX(0);
}
.more-info__flex,
.more-info__btn-wrapper{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 22px 33px;
    display: flex;
    justify-content: space-between;
    background-color: #F8FAFD;
}
.more-info__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222531;
    margin-right: 10px;
}
.more-info__img{
    display: flex;
    justify-content: center;
    margin-top:100px;
    width: 228px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.more-info__text{
    font-size:13px;
    line-height:22px;
    max-height: 275px;
    overflow: auto;
    margin: 51px 0 27px 0;
    padding-left: 46px;
    padding-right: 35px;
}

.more-info__author{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #222531;
    text-transform: capitalize;
    padding-left: 46px;
    padding-right: 35px;
}
.more-info__author+.more-info__author{
    margin-top: 17px;
}
.more-info__author-name{
    display: inline-block;
    background: rgba(13, 117, 255, 0.09);
    border-radius: 30px;
    color: #0D75FF;
    text-align: center;
    padding:5px 30px;
    margin-left: 10px;
}
.more-info__author-name+.more-info__author-name{
    margin-left: 7px;
    margin-top: 10px;
}
.more-info__btn-wrapper{
    position:static;
    margin-top:110px;
}
.more-info__btn{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 38px;
    border-radius: 4px;
    background-color: #75828A;
    border: none;
    cursor: pointer;
    margin-left: auto;
    color: #fff;
}
.pagination{
    margin-top:20px;
}
.pagination,
.numbers{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.pagination{
    flex-wrap: wrap;
}
.numbers{
    width:600px;
    justify-content: flex-start;
    overflow-x: scroll;
}
.numbers__link{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color:#fff;
    border: 1px solid #DFE3E8;
    border-radius:4px;
    color: #000;
    cursor: pointer;
}
.active{
    border: 1px solid #0D75FF;
    color: #0D75FF;
}


